*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    height: 100%;
    width: 100%;
    background-color: rgb(68, 66, 66);
}
div{
    display: flex;
    gap: 20px;
}
.p1 h1:first-child{
    background-color: red;
}
.p2 h1:last-child{
    background-color: blue;
}
.p3 h1:nth-child(even){
    background-color: aquamarine;
}