*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    height: 100%;
    width: 100%;
}
table{
    height: 500px;
    width: 500px;
}
table th{
    background-color: lightgray;
}
table tr:nth-child(odd){
    background-color: burlywood;
}